.dashboard {
    width: 100%; 
    justify-content: space-between; 
    align-items: flex-end; 
    display: flex;
}

.graph {
    opacity: .3;
}

.gauge {
    width: 100%;
    height: 1rem;
    position: relative;
    border: 1px solid white;
    background: linear-gradient(90deg, transparent 40%, green 50%, transparent 60%);
}

.hand {
    width: 2px; 
    transition: .2s all; 
    height: 66%; 
    background: white; 
    position: absolute;
    bottom: 0;

    &.inTune {
        transform: scale(1.5);
        transform-origin: bottom;
        box-shadow: 0 0 5px white;
    }

    &.highlighted {
        transform: scale(4, 2); 
        box-shadow: 0 0 2px 1px white;
        border-radius: 25%;
    }
}

.harmonics {
    opacity: .3; 
    font-size: .5em;
}
