.container {
    position: relative;
    background: rgba(0, 0, 0, .1);
    border-radius: 50%;
    padding: 1rem;
}

.turnOnBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    cursor: pointer;
    height: 6rem;
    width: 6rem;
    border-radius: 4rem;
    background: #444;
    color: transparent;
    font-weight: 700;
    font-size: .8rem;
    background-image: url('./power.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;

    &:disabled {
        color: rgba(255, 255, 255, .5);
        cursor: default;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 2px 2px #3F51B5;
    }
}
