html {
    font-size: calc(14px + .5vw);
}

body {
    background: #222222; 
    color: #CCCCCC; 
    margin: auto;
}

.header {
    background: #333333; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3rem 0;
    min-height: 55vh;
    transition: 1s all;

    > * {
        width: 35%;
    }
}

@media (max-aspect-ratio: 1/1) {
    .header > * {
        width: 90%;
    }
}

h1, h2, h3 {opacity: .2;}

a {
    color: white;
}

code {
    font-size: .9em;
}

.content {
    font-size: 1rem;
    margin: 1rem 12%;
    overflow-x: auto;
}

.content > article {
    background: rgba(0, 0, 0, .1);
    padding: 1px 2rem;
    margin: 1rem 0 2rem;
}

@media (max-aspect-ratio: 1/1) {
    .content {
        margin: 1rem 2%;
    }
}

:global {
    .link {
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        font-size: 1rem;
        opacity: .2;
        color: white;
        z-index: 1;

        &:hover {
            opacity: .8;
        }
        
        img {
            height: 2rem;
            vertical-align: middle;
            margin-right: .3rem;
        }
    }

    .hljs {    
        filter: invert(.84);
    }
}

.docImage {
    filter: invert(.84);
    margin: 1rem 0;
}
